body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #38454c;
  color: white;
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
}

nav {
  background-color: #ddd;
  padding: 10px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

nav ul li a {
  color: #38454c;
  text-decoration: none;
}

main {
  padding: 20px;
}

#converter {
  background-color: #dde2e7;
  padding: 20px;
  border-radius: 10px;
}

#converter h2 {
  margin-top: 0;
}

.unit-input {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.unit-input label {
  width: 80px;
  font-weight: bold;
  margin-right: 10px;
}

.unit-input input[type="number"] {
  width: 200px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
}

#result {
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
  font-size: 18px;
}

footer {
  background-color: #38454c;
  color: white;
  padding: 10px;
  text-align: center;
}
